.logos1-container1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.logos1-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.logos1-text {
  text-align: center;
}
.logos1-container2 {
  height: 321px;
  z-index: 100;
  position: relative;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.logos1-logo1 {
  width: 100%;
  height: auto;
  object-fit: contain;
  text-decoration: none;
}
.logos1-logo2 {
  width: 100%;
  height: auto;
  object-fit: contain;
  text-decoration: none;
}
.logos1-logo3 {
  width: 100%;
  height: auto;
  object-fit: contain;
  text-decoration: none;
}
.logos1-logo4 {
  width: 100%;
  height: auto;
  object-fit: contain;
  text-decoration: none;
}
.logos1-logo5 {
  width: 100%;
  height: auto;
  object-fit: contain;
  text-decoration: none;
}
.logos1-logo6 {
  width: 100%;
  height: auto;
  object-fit: contain;
  text-decoration: none;
}
.logos1-image1 {
  width: 100%;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}
.logos1-image2 {
  width: 100%;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}
.logos1-image3 {
  width: 100%;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}
.logos1-image4 {
  width: 100%;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 767px) {
  .logos1-container1 {
    gap: var(--dl-space-space-twounits);
  }
  .logos1-max-width {
    gap: var(--dl-space-space-twounits);
  }
}
